/* Header */
.header {
  // position: absolute;
  // top: 200;
  // left: 200;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8rem;
}
.logo {
  flex: 1;
}

.button-group {
  line-height: 1.5rem;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-bt {
  /* height: 2rem; */
  background-color: white;
  border-color: #147580;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: #147580;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  text-decoration: none;
  cursor: pointer;
  /* vertical-align: middle; */
}
.green-bt {
  /* height: 2rem; */
  background-color: #147580;
  border-color: #147580;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  border-radius: 4px;
  font-size: small;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.hide {
  display: none;
}
