.App {
  text-align: center;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  flex: 1;
}
.search {
  line-height: 1.5rem;
  flex: 1;
  background-color: #f5f6f7;
  border-style: none;
}
.button-group {
  line-height: 1.5rem;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-bt {
  /* height: 2rem; */
  background-color: white;
  border-color: #23aeb7;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: #23aeb7;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
  /* vertical-align: middle; */
}
.selling-bt {
  /* height: 2rem; */
  background-color: #23aeb7;
  border-color: #23aeb7;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  border-radius: 4px;
  font-size: small;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Main (Home) */
.home {
  width: 100vw;
  display: flex;
  margin: 0 auto;
}
.banner {
  height: 60vh;
}
.offers {
  display: flex;
  width: inherit;
  flex-wrap: wrap;
}
.offer {
  line-height: 25vh;
}
.offer-img {
  width: 20vw;
  height: 25vh;
  object-fit: cover;
}
