/* HOME ***************************** */

.home-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-hero-bg-img {
  background-image: url("../../img/banner-hero.jpeg");
  height: 455px;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
}

.home-hero-bg-img > div {
  width: 1280px;
  margin: auto;
}

.home-hero-ready {
  height: 220px;
  width: 360px;
  background-color: white;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
  box-shadow: 0px 0px 2px rgba(17, 17, 17, 0.24);
}

.home-hero-ready button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  margin-top: 32px;
}

.home-hero-forme {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}
.home-card-wrapper {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
}

.card-container {
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
}

.card-container div:last-child img {
  height: 360px;
  width: 235px;
  object-fit: cover;
}

.card-avatar-username {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-avatar-username > img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.card-avatar-username > span {
  color: #999999;
  font-size: 12px;
}

.card-price-size-brand {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.card-price-size-brand span:first-child {
  font-size: 14px;
}
.card-price-size-brand span:not(:first-child) {
  font-size: 12px;
  color: #999999;
}
