/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  flex: 1;
}
.search {
  line-height: 1.5rem;
  flex: 1;
  background-color: #f5f6f7;
  border-style: none;
  .search-img {
    width: 1rem;
    color: #999999;
  }
  .clear-bt {
    border-style: none;
  }
}
.button-group {
  line-height: 1.5rem;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-bt {
  /* height: 2rem; */
  background-color: white;
  border-color: #23aeb7;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: #23aeb7;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  /* vertical-align: middle; */
}
.green-bt {
  /* height: 2rem; */
  background-color: #23aeb7;
  border-color: #23aeb7;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  border-radius: 4px;
  font-size: small;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
